#nav-link-appointment {
  background-color: #1a202c;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
header#masthead {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
header#masthead > * {
  text-align: center;
}
header#masthead h1 {
  white-space: wrap;
  max-width: 80%;
}
header#masthead p {
  max-width: 400px;
}
@media (min-width: 56.25rem) {
  header#masthead h1 {
    font-size: 3rem;
  }
  header#masthead p {
    max-width: 750px;
  }
}
@media (min-width: 80rem) {
  header#masthead h1 {
    font-size: 4.5rem;
  }
}
header#masthead .product-logo {
  background-image: url('/media/svg/tbpro/logo-appointment-full.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  aspect-ratio: 3.4/1;
  height: 80px;
}
header#masthead .hero-image {
  aspect-ratio: 1.9/1;
  width: 100%;
  background-image: url('/media/img/tbpro/xs-appointment-hero.png');
  background-image: -webkit-image-set(url('/media/img/tbpro/xs-appointment-hero.png') 1x, url('/media/img/tbpro/xs-appointment-hero-high-res.png') 2x);
  background-image: image-set(url('/media/img/tbpro/xs-appointment-hero.png') 1x, url('/media/img/tbpro/xs-appointment-hero-high-res.png') 2x);
}
@media (min-width: 80rem) {
  header#masthead .hero-image {
    background-image: url('/media/img/tbpro/xl-appointment-hero.png');
    background-image: -webkit-image-set(url('/media/img/tbpro/xl-appointment-hero.png') 1x, url('/media/img/tbpro/xl-appointment-hero-high-res.png') 2x);
    background-image: image-set(url('/media/img/tbpro/xl-appointment-hero.png') 1x, url('/media/img/tbpro/xl-appointment-hero-high-res.png') 2x);
    aspect-ratio: 2.39/1;
    max-width: 970px;
  }
}
section#overview .overview-card-container .overview-card {
  background-color: #1a202c;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
section#overview .overview-card-container .overview-card-1 {
  background-image: url('/media/img/tbpro/appointment-bento-main.png');
  overflow: hidden;
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr 2fr 1fr;
    gap: 0.5rem;
  }
  section#overview .overview-card-container .overview-card-1 header {
    align-self: end;
    grid-row: 3;
    padding-inline: 2rem;
  }
  section#overview .overview-card-container .overview-card-1 p {
    grid-row: 4;
    padding-inline: 2rem;
  }
}
section#overview .overview-card-container .overview-card-1 .overview-image {
  background-image: url('/media/img/tbpro/xs-appointment-bento-top.png');
  background-image: -webkit-image-set(url('/media/img/tbpro/xs-appointment-bento-top.png') 1x, url('/media/img/tbpro/xs-appointment-bento-top-high-res.png') 2x);
  background-image: image-set(url('/media/img/tbpro/xs-appointment-bento-top.png') 1x, url('/media/img/tbpro/xs-appointment-bento-top-high-res.png') 2x);
  aspect-ratio: 1.97/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  margin-left: 1.25rem;
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-1 .overview-image {
    background-image: url('/media/img/tbpro/xl-appointment-bento-left.png');
    background-image: -webkit-image-set(url('/media/img/tbpro/xl-appointment-bento-left.png') 1x, url('/media/img/tbpro/xl-appointment-bento-left-high-res.png') 2x);
    background-image: image-set(url('/media/img/tbpro/xl-appointment-bento-left.png') 1x, url('/media/img/tbpro/xl-appointment-bento-left-high-res.png') 2x);
    aspect-ratio: 2.09/1;
    grid-row: 2;
    margin-left: 2rem;
  }
}
section#overview .overview-card-container .overview-card-2 {
  background-image: url('/media/img/tbpro/appointment-bento-right-top.png');
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-2 {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    overflow: hidden;
  }
  section#overview .overview-card-container .overview-card-2 header {
    align-self: end;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
    padding-left: 2rem;
  }
  section#overview .overview-card-container .overview-card-2 p {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
}
section#overview .overview-card-container .overview-card-2 .overview-image {
  background-image: url('/media/img/tbpro/xs-appointment-bento-bottom.png');
  background-image: -webkit-image-set(url('/media/img/tbpro/xs-appointment-bento-bottom.png') 1x, url('/media/img/tbpro/xs-appointment-bento-bottom-high-res.png') 2x);
  background-image: image-set(url('/media/img/tbpro/xs-appointment-bento-bottom.png') 1x, url('/media/img/tbpro/xs-appointment-bento-bottom-high-res.png') 2x);
  aspect-ratio: 1.67/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  margin-right: 0;
  margin-top: 1.5rem;
  max-width: 85%;
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-2 .overview-image {
    background-image: url('/media/img/tbpro/xl-appointment-bento-top-right.png');
    background-image: -webkit-image-set(url('/media/img/tbpro/xl-appointment-bento-top-right.png') 1x, url('/media/img/tbpro/xl-appointment-bento-top-right-high-res.png') 2x);
    background-image: image-set(url('/media/img/tbpro/xl-appointment-bento-top-right.png') 1x, url('/media/img/tbpro/xl-appointment-bento-top-right-high-res.png') 2x);
    aspect-ratio: unset;
    grid-row: 1 / -1;
    justify-self: end;
    margin-top: unset;
    max-width: unset;
  }
}
section#overview .overview-card-container .overview-card-3 {
  background-image: url('/media/img/tbpro/appointment-bento-right-bottom.png');
  padding-bottom: 0;
  overflow: hidden;
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-3 {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 4fr;
    padding-inline: 0.75rem 0;
  }
  section#overview .overview-card-container .overview-card-3 header {
    align-self: end;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
    padding-left: 2rem;
  }
  section#overview .overview-card-container .overview-card-3 p {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    padding-left: 2rem;
  }
}
section#overview .overview-card-container .overview-card-3 .overview-image {
  background-image: url('/media/svg/tbpro/zoom-logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  aspect-ratio: 4.32/1;
  height: 50px;
  margin-top: 5.125rem;
  margin-bottom: 5.125rem;
  width: 100%;
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-3 .overview-image {
    grid-column: 2;
    grid-row: 1 / -1;
    margin: auto;
  }
}
