#nav-link-thundermail {
  background-color: #1a202c;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
header#masthead {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
header#masthead > * {
  text-align: center;
}
header#masthead h1 {
  white-space: wrap;
}
header#masthead p {
  max-width: 400px;
}
@media (min-width: 56.25rem) {
  header#masthead h1 {
    font-size: 3rem;
  }
  header#masthead p {
    max-width: 750px;
  }
}
@media (min-width: 80rem) {
  header#masthead h1 {
    font-size: 4.5rem;
  }
}
header#masthead .product-logo {
  aspect-ratio: 16/9;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  background-image: url('/media/img/tbpro/xs-thundermail-logo.png');
  background-image: -webkit-image-set(url('/media/img/tbpro/xs-thundermail-logo.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-thundermail-logo.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-thundermail-logo.png') 1x, url('/media/img/tbpro/xs-thundermail-logo-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-thundermail-logo-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-thundermail-logo-high-res.png') 2x);
  background-image: image-set(url('/media/img/tbpro/xs-thundermail-logo.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-thundermail-logo.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-thundermail-logo.png') 1x, url('/media/img/tbpro/xs-thundermail-logo-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-thundermail-logo-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-thundermail-logo-high-res.png') 2x);
}
@media (min-width: 56.25rem) {
  header#masthead .product-logo {
    background-image: url('/media/img/tbpro/xl-thundermail-logo.png');
    background-image: -webkit-image-set(url('/media/img/tbpro/xl-thundermail-logo.avif') type('image/avif') 1x, url('/media/img/tbpro/xl-thundermail-logo.webp') type('image/webp') 1x, url('/media/img/tbpro/xl-thundermail-logo.png') 1x, url('/media/img/tbpro/xl-thundermail-logo-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xl-thundermail-logo-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xl-thundermail-logo-high-res.png') 2x);
    background-image: image-set(url('/media/img/tbpro/xl-thundermail-logo.avif') type('image/avif') 1x, url('/media/img/tbpro/xl-thundermail-logo.webp') type('image/webp') 1x, url('/media/img/tbpro/xl-thundermail-logo.png') 1x, url('/media/img/tbpro/xl-thundermail-logo-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xl-thundermail-logo-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xl-thundermail-logo-high-res.png') 2x);
  }
}
header#masthead .hero-image {
  aspect-ratio: 1.9/1;
  width: 100%;
  background-image: url('/media/img/tbpro/xs-thundermail-card.png');
  background-image: -webkit-image-set(url('/media/img/tbpro/xs-thundermail-card.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-thundermail-card.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-thundermail-card.png') 1x, url('/media/img/tbpro/xs-thundermail-card-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-thundermail-card-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-thundermail-card-high-res.png') 2x);
  background-image: image-set(url('/media/img/tbpro/xs-thundermail-card.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-thundermail-card.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-thundermail-card.png') 1x, url('/media/img/tbpro/xs-thundermail-card-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-thundermail-card-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-thundermail-card-high-res.png') 2x);
}
@media (min-width: 56.25rem) {
  header#masthead .hero-image {
    background-image: url('/media/img/tbpro/xl-thundermail-card.png');
    background-image: -webkit-image-set(url('/media/img/tbpro/xl-thundermail-card.avif') type('image/avif') 1x, url('/media/img/tbpro/xl-thundermail-card.webp') type('image/webp') 1x, url('/media/img/tbpro/xl-thundermail-card.png') 1x, url('/media/img/tbpro/xl-thundermail-card-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xl-thundermail-card-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xl-thundermail-card-high-res.png') 2x);
    background-image: image-set(url('/media/img/tbpro/xl-thundermail-card.avif') type('image/avif') 1x, url('/media/img/tbpro/xl-thundermail-card.webp') type('image/webp') 1x, url('/media/img/tbpro/xl-thundermail-card.png') 1x, url('/media/img/tbpro/xl-thundermail-card-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xl-thundermail-card-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xl-thundermail-card-high-res.png') 2x);
  }
}
section#overview .overview-card-container .overview-card {
  background-color: #1a202c;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
section#overview .overview-card-container .overview-card-1 {
  background-image: url('/media/img/tbpro/thundermail-bento-main.png');
  overflow: hidden;
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13.13% 42.63% 9.17% auto auto 10.25%;
    gap: 0;
  }
  section#overview .overview-card-container .overview-card-1 header {
    grid-row: 4;
    padding-inline: 2rem;
  }
  section#overview .overview-card-container .overview-card-1 p {
    grid-row: 5;
    max-width: 368px;
    padding-inline: 2rem;
  }
}
section#overview .overview-card-container .overview-card-1 .overview-image {
  background-image: url('/media/img/tbpro/xs-bento-standards.png');
  background-image: -webkit-image-set(url('/media/img/tbpro/xs-bento-standards.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-bento-standards.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-bento-standards.png') 1x, url('/media/img/tbpro/xs-bento-standards-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-bento-standards-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-bento-standards-high-res.png') 2x);
  background-image: image-set(url('/media/img/tbpro/xs-bento-standards.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-bento-standards.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-bento-standards.png') 1x, url('/media/img/tbpro/xs-bento-standards-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-bento-standards-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-bento-standards-high-res.png') 2x);
  aspect-ratio: 2.6/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-1 .overview-image {
    background-image: url('/media/img/tbpro/xl-bento-standards.png');
    background-image: -webkit-image-set(url('/media/img/tbpro/xl-bento-standards.avif') type('image/avif') 1x, url('/media/img/tbpro/xl-bento-standards.webp') type('image/webp') 1x, url('/media/img/tbpro/xl-bento-standards.png') 1x, url('/media/img/tbpro/xl-bento-standards-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xl-bento-standards-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xl-bento-standards-high-res.png') 2x);
    background-image: image-set(url('/media/img/tbpro/xl-bento-standards.avif') type('image/avif') 1x, url('/media/img/tbpro/xl-bento-standards.webp') type('image/webp') 1x, url('/media/img/tbpro/xl-bento-standards.png') 1x, url('/media/img/tbpro/xl-bento-standards-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xl-bento-standards-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xl-bento-standards-high-res.png') 2x);
    aspect-ratio: 2.3/1;
    grid-row: 2;
  }
}
section#overview .overview-card-container .overview-card-2 {
  background-image: url('/media/img/tbpro/thundermail-bento-right-top.png');
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-2 {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 4fr;
    padding-inline: 0.75rem;
  }
  section#overview .overview-card-container .overview-card-2 header {
    align-self: end;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
    padding-left: 2rem;
  }
  section#overview .overview-card-container .overview-card-2 p {
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
}
section#overview .overview-card-container .overview-card-2 .overview-image {
  background-image: url('/media/img/tbpro/xs-bento-hosted.png');
  background-image: -webkit-image-set(url('/media/img/tbpro/xs-bento-hosted.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-bento-hosted.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-bento-hosted.png') 1x, url('/media/img/tbpro/xs-bento-hosted-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-bento-hosted-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-bento-hosted-high-res.png') 2x);
  background-image: image-set(url('/media/img/tbpro/xs-bento-hosted.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-bento-hosted.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-bento-hosted.png') 1x, url('/media/img/tbpro/xs-bento-hosted-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-bento-hosted-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-bento-hosted-high-res.png') 2x);
  aspect-ratio: 1.2/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 180px;
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-2 .overview-image {
    grid-column: 2;
    grid-row: 1 / -1;
    height: 100%;
    justify-self: start;
    margin-left: 18px;
    margin-top: 0;
  }
}
section#overview .overview-card-container .overview-card-3 {
  background-image: url('/media/img/tbpro/thundermail-bento-right-bottom.png');
  padding-bottom: 0;
  overflow: hidden;
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-3 {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 4fr;
    padding-inline: 0.75rem 0;
  }
  section#overview .overview-card-container .overview-card-3 header {
    align-self: end;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
    padding-left: 2rem;
  }
  section#overview .overview-card-container .overview-card-3 p {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    padding-left: 2rem;
  }
}
section#overview .overview-card-container .overview-card-3 .overview-image {
  background-image: url('/media/img/tbpro/xs-bento-domain.png');
  background-image: -webkit-image-set(url('/media/img/tbpro/xs-bento-domain.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-bento-domain.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-bento-domain.png') 1x, url('/media/img/tbpro/xs-bento-domain-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-bento-domain-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-bento-domain-high-res.png') 2x);
  background-image: image-set(url('/media/img/tbpro/xs-bento-domain.avif') type('image/avif') 1x, url('/media/img/tbpro/xs-bento-domain.webp') type('image/webp') 1x, url('/media/img/tbpro/xs-bento-domain.png') 1x, url('/media/img/tbpro/xs-bento-domain-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xs-bento-domain-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xs-bento-domain-high-res.png') 2x);
  aspect-ratio: 1.2/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 180px;
  margin-top: 1.125rem;
  margin-right: -2.5rem;
  width: 100%;
}
@media (min-width: 56.25rem) {
  section#overview .overview-card-container .overview-card-3 .overview-image {
    background-image: url('/media/img/tbpro/xl-bento-domain.png');
    background-image: -webkit-image-set(url('/media/img/tbpro/xl-bento-domain.avif') type('image/avif') 1x, url('/media/img/tbpro/xl-bento-domain.webp') type('image/webp') 1x, url('/media/img/tbpro/xl-bento-domain.png') 1x, url('/media/img/tbpro/xl-bento-domain-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xl-bento-domain-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xl-bento-domain-high-res.png') 2x);
    background-image: image-set(url('/media/img/tbpro/xl-bento-domain.avif') type('image/avif') 1x, url('/media/img/tbpro/xl-bento-domain.webp') type('image/webp') 1x, url('/media/img/tbpro/xl-bento-domain.png') 1x, url('/media/img/tbpro/xl-bento-domain-high-res.avif') type('image/avif') 2x, url('/media/img/tbpro/xl-bento-domain-high-res.webp') type('image/webp') 2x, url('/media/img/tbpro/xl-bento-domain-high-res.png') 2x);
    aspect-ratio: 0.9/1;
  }
}
@media (min-width: 80rem) {
  section#overview .overview-card-container .overview-card-3 .overview-image {
    margin-top: 0;
    grid-column: 2;
    grid-row: 1 / -1;
    height: 100%;
  }
}
