RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(115\.[^/]+)esr/(.*)$ /thunderbird/$1/$2 [R,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(115\.[^/]+)/(.*)$ /thunderbird/$1esr/$2 [R,L]
